version: "3.9"

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: DMART_CRT_01
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  ta_service:
    build: .
    depends_on:
      - db
    environment:
      PG_HOST: db
      PG_PORT: 5432
      PG_USER: user
      PG_PASSWORD: password
      PG_DBNAME: DMART_CRT_01
      S3_BUCKET: your-s3-bucket
    ports:
      - "80:80"
    volumes:
      - .:/app

volumes:
  pgdata:
